<!-- curriculum/update_all_textbooks.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Обновить Все Учебники</title>
    <link rel="stylesheet" href="{% static 'curriculum/update.css' %}">
</head>
<body>
    <div class="container">
        <h1>Обновить Все Учебники</h1>
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.as_p }}
            {% endfor %}
            <button type="submit">Сохранить</button>
        </form>
        <a href="{% url 'view_subjects' %}" class="back-button">Обратно</a>
    </div>
</body>
</html>
