{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete News</title>
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Вы уверены, что хотите удалить эту новость?</h1>
        <p>{{ news_item.headline }}</p>
        <form method="post" class="custom-form">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        <a href="{% url 'view_news_detail' news_item.id %}" class="back-button">Cancel</a>
    </div>
</body>
</html>
