{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit News</title>
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Edit News</h1>
        <form method="post" enctype="multipart/form-data" class="custom-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'view_news_detail' news_item.id %}" class="back-button">Cancel</a>
    </div>
</body>
</html>
