{# additionalMaterials/additional_materials_list.html #}
{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additional Materials</title>
    <link rel="stylesheet" href="{% static 'additionalMaterials/css/style.css' %}">
{% endblock %}

{% block bodycontent %}
    {% include 'home/navbar.html' %}
    <div class="container">
        <h2>Additional Materials</h2>
        <ul>
            {% for material in materials %}
                <li>
                    <a href="{% url 'additional_materials_detail' material.pk %}">{{ material.name }}</a>
                    {% if material.file %}
                        <a href="{{ material.file.url }}" target="_blank">Download File</a>
                    {% else %}
                        No file available
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'additional_materials_create' %}" class="btn">Add New Material</a>
    </div>
{% endblock %}
