/* header.css */
.header {
  padding: 26px 31px;
  background-color: #fff;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.header__logo {
  display: flex;
  align-items: center;
  color: #212b31;
  font-family: Inter;
  font-size: 22px;
  text-transform: uppercase;
}
.header__nav a {
  text-decoration: none;
  color: #72787d;
  font-family: Inter;
  font-size: 16px;
  margin-left: 22px;
  transition: 0.5s;
  display: inline-block; /* Добавляем этот стиль для правильного выравнивания */
  padding: 10px 15px; /* Задаем отступы кнопкам для выравнивания */
}
.header__nav a:hover {
  color: #036fc7;
}
.header__logo img {
  margin-right: 8px;
}
.header__nav .auth-button {
  background: #212b31;
  color: #ffffff;
  border: 3px solid #212b31;
  padding: 10px 20px; /* Сделаем отступы одинаковыми для кнопок */
  border-radius: 4px;
  transition: background 0.5s, color 0.5s;
}
.header__nav .auth-button:hover {
  background: #fff;
  color: #212b31;
}
.header__nav .auth-form button {
  background: #212b31;
  color: #ffffff;
  border: 3px solid #212b31;
  padding: 10px 20px; /* Сделаем отступы одинаковыми для кнопок */
  border-radius: 4px;
  transition: background 0.5s, color 0.5s;
}
.header__nav .auth-form button:hover {
  background: #fff;
  color: #212b31;
}
.burger {
  display: none;
}
.burger-menu nav a {
  margin: 0;
}
.header__nav button,
.burger-menu nav button {
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  border: 3px solid #212b31;
  background: #212b31;
  padding: 10px 20px; /* Сделаем отступы одинаковыми для кнопок */
  margin-left: 22px;
  transition: 0.5s;
  border-radius: 4px;
}
.burger-menu nav button {
  width: max-content;
  margin: 0 auto;
}
.header__nav button:hover,
.burger-menu nav button:hover {
  color: #212b31;
  background: #fff;
}
.burger-menu nav {
  display: none;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
}
.burger-menu.active nav {
  display: flex;
}
.burger-lines {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  right: 50px;
  cursor: pointer;
  z-index: 10;
}
.burger-line {
  background: #212b31;
  width: 30px;
  height: 4px;
}
@media screen and (max-width: 1217px) {
  .header__nav a {
    font-size: 12px;
  }
}
@media screen and (max-width: 1076px) {
  .header__nav {
    display: none;
  }
  .burger {
    display: block;
  }
}