{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Аязбеков Алмазбек Бактыбекович</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}

{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/aab.jpg' %}" alt="Аязбеков Алмазбек Бактыбекович"/>
        </div>
        <div class="professor-info">
            <h1>Аязбеков Алмазбек Бактыбекович</h1>
            <h2>Преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                2003-2008 гг. Кыргызский Государственный Национальный Университет
                им.Ж.Баласагына спец. «Прикладная математика и информатика».
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    В настоящее время – преподаватель кафедры «ИТиММ» им.академика
                    А.Жайнакова.
                </li>
                <li>
                    2009-2013 гг. Инженер программисты ИГД и ГТ, каф. «ИТиММ»
                    им.академика А.Жайнакова.
                </li>
                <li>
                    С 2009 г.- преподаватель кафедры «ИТиММ» им.академика А.Жайнакова.
                </li>
            </ul>
            <h3>Основные научные статьи за последние 5 лет:</h3>
            <p>
                Термодинамическое моделирование смеси газов и их взаимодействия с
                обрабатываемой поверхностью ИЗВЕСТИЯ КГТУ №3(39), часть 1 2016 стр.
                139 Кабаева Г.Дж., Аманкулова Н.А., Аязбеков А.Б.
            </p>
            <h3>Учебно-методические комплексы:</h3>
            <ul>
                <li>
                    Методическое указание к выполнению лабораторных работ по дисциплине
                    Технология обработки информации “VisualStudioC#” для студентов по
                    направлению 710200 “Информационные системы и технологии” всех форм
                    обучения. Бейшекеева Г.Дж., Апилова Т.А., Аязбеков А.Б.2016г.
                </li>
                <li>
                    Лабораторный практикум по основам программирования на языке высокого
                    уровня С++. 710200 “Информационные системы и технологии” всех форм
                    обучения. Койчуманова Ж., Аязбеков А.Б.2016г.
                </li>
            </ul>
            <h3>Повышение квалификации:</h3>
            <ul>
                <li>
                    Минимальное требования при прохождении независимой аккредитации ООП
                    КГГУ им.акад. У.Асаналиева,
                </li>
                <li>
                    Развитие проф. комп.педаг., реал.треб.гос.образ. стандарта. ИПКиПК
                    им. М. Рахимовой.
                </li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="almaz.ayazbekov@kstu.kg">almaz.ayazbekov@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}
