{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Атамбекова Айсулуу Шайбековна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}
{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/aash.jpg' %}" alt="Атамбекова Айсулуу Шайбековна"/>
        </div>
        <div class="professor-info">
            <h1>Атамбекова Айсулуу Шайбековна</h1>
            <h2>Старший преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                2011-2016 Кыргызский государственный технический университет им. И.
                Разакова. Специальность – Информационные системы и технологии в
                телекоммуникации. 2016-2019г. Кыргызский национальный университет им.
                Ж. Баласагына. Специальность – Финансы и кредит.
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>ОсОО «Бек-Курулуш» 2011г.-2017г.</li>
                <li>01.08.2011г.-20.01.2014г. Должность: Менеджер.</li>
                <li>20.01.2014г.-28.03.2017г. Должность: Инспектор отдела кадров.</li>
                <li>
                    05.09.2016г.-28.03.2017г. По совместительству на должности:
                    Бухгалтер – кассир. ОАО «Кыргызтелеком»
                </li>
                <li>
                    2017г.-2022г. 17.05.2017г.-2020г. Должность: Инженер Участка
                    Технической Поддержки (УТП)
                </li>
                <li>
                    2020г.-17.02.2022г. Должность: Инженер 2категории Участка
                    Технической Поддержки (УТП)
                </li>
                <li>
                    27.02.2022г.-31.06.2022г. IT-Академия КГЮА. Должность:
                    Преподаватель.
                </li>
                <li>
                    31.08.2022г.-по наст. время. КГТУ им. И. Раззакова. Кафедра ИСТ им.
                    А. Жайнакова
                </li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="a.atambekova@kstu.kg">a.atambekova@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}
