{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Аманкулова Нургул Асимкановна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}

{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/ana.jpg' %}" alt="Аманкулова Нургул Асимкановна"/>
        </div>
        <div class="professor-info">
            <h1>Аманкулова Нургул Асимкановна</h1>
            <h2>
                Заведующая кафедрой «Информационные системы и технологии им. академика
                А.Жайнакова», к.ф.-м.н. доцент
            </h2>
            <h3>Образование:</h3>
            <p>
                1993-1998 гг. - Кыргызский государственный национальный университет
                им. Ж. Баласагына, специальность «Физика и технология материалов и
                компонентов электронной техники», квалификация физик-инженер.
            </p>
            <p>
                2017г. — кандидат физико-математических наук по специальности 01.02.05
                – Механика жидкости, газа и плазмы.
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>1998 -1999 – КГ-МИ, каф. «Естественные науки» - ст. лаборант.</li>
                <li>
                    1999-2000 - КГ-МИ, каф. «ИТиММ» - вед.инженер, по совместительству
                    преподаватель.
                </li>
                <li>2003 - 2021 – зам.зав.каф. «ИТиММ им.акад.А.Жайнакова».</li>
                <li>
                    2000-2017 –ИГДиГТ им.У.Асаналиева, ст. преподаватель каф. «ИТиММ
                    им.акад.А.Жайнакова».
                </li>
                <li>
                    2017-2018- ИГДиГТ им.У.Асаналиева доцент кафедры «ИТиММ
                    им.акад.А.Жайнакова».
                </li>
                <li>
                    с марта 2021- заведующая кафедрой «Информационные технологии и
                    математическое моделирование им. академика А.Жайнкова», КГГУ
                    им.акад.У.Асаналиева.
                </li>
                <li>
                    с сентября 2022 - заведующая кафедрой «Информационные системы и
                    технологии им. академика А.Жайнкова», КГТУ им. И.Раззакова.
                </li>
                <li>
                    Работа по совместительству:
                    <ul>
                        <li>
                            2005-2008- КГНУ, факультет «Физики и электроники», ст.
                            преподаватель кафедры «МФТП».
                        </li>
                        <li>
                            с сентября 2021 - КГТУ им.И.Раззакова, К-ГТИ, доцент кафедры
                            «Телематика».
                        </li>
                    </ul>
                </li>
            </ul>
            <h3>Научно-исследовательская работа:</h3>
            <p>
                Автор более 40 опубликованных научных и учебно-методических работ,
                участвует в международных конференциях. Участвовала научных проектах
                финансируемого по гранту Министерство образования и науки КР:
            </p>
            <ul>
                <li>
                    Проект «Разработка экологически чистых плазменных технологий
                    утилизации твердых органических и неорганических отходов на основе
                    комплексных исследований».
                </li>
                <li>
                    Проект «Разработка компьютерной системы моделирования
                    высокотемпературной технологии обработки твердых отходов на основе
                    комплексных исследований».
                </li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="mailto:nurgul.amankulova@kstu.kg"
                >nurgul.amankulova@kstu.kg</a
                >
            </p>
        </div>
    </div>
{% endblock %}
