{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Бакиева Жыргалкул Зарлыковна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}
{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/bzj.jpg' %}" alt="Бакиева Жыргалкул Зарлыковна"/>
        </div>
        <div class="professor-info">
            <h1>Бакиева Жыргалкул Зарлыковна</h1>
            <h2>Старший преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                1993 - 1997 гг. Кыргызский государственный педагогический университет
                им.И.Арабаева, специальность «Математика и информатика», квалификация
                «Учитель математики и информатики» 2006 – 2009 гг. Институт повышения
                квалификации и переработки кадров при КГУ им.И.Арабаева, Магистр по
                направлению «Менеджмент», специализация «Менеджмент в образовании»
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    1997-2001 гг. преподаватель кафедры «Информационные технологии и
                    математическое моделирование», Кыргызский горно-металлургический
                    институт
                </li>
                <li>
                    2001-2022гг. старший преподаватель, кафедры «Информационные
                    технологии и математическое моделирование имени академика
                    А.Жайнакова», Кыргызский государственный университет геологии,
                    горного дела и освоения природных ресурсов имени академика
                    У.Асаналиева,
                </li>
                <li>
                    С сентября 2022 г по наст. время - ст.преподаватель, кафедра
                    «Информационные системы и технологии им.акад.А.Жайнакова», Институт
                    электроники и телекоммуникации, КГТУ им.И.Раззакова.
                </li>
                <li>
                    С сентября 2022г. по наст. время – преподаватель
                    Горно-технологического колледжа, КГТУ им.И.Раззакова.
                </li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>
                    Имеет более 20 опубликованных научных и учебно-методических работ,
                </li>
                <li>участвует в Международных конференциях.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="jyrgalkul.bakieva@kstu.kg">jyrgalkul.bakieva@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}