{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Джакыпбеков Каныбек</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}

{% block bodycontent %}
    <body>
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/dk.jpg' %}" alt="Джакыпбеков Каныбек"/>
        </div>
        <div class="professor-info">
            <h1>Джакыпбеков Каныбек</h1>
            <h2>Кандидат физико-математических наук, доцент</h2>
            <h3>Образование:</h3>
            <p>
                1966г. - 1971г. Кыргызский государственный национальный университет,
                механико-математический факультет. Получен диплом о высшем
                образовании. Присвоена квалификация – Математик. Преподаватель. Ученая
                степень – кандидат физико-математических наук Специальность 04.03.02.
                – Радиофизика, включая квантовую радиоэлектронику. Ученое звание –
                доцент.
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>1971г. – 2010г. Институт физики НАН КР.</li>
                <li>
                    2010г. - 2017г. КГТУ им.И.Раззакова Горно-геологический институт.
                </li>
                <li>
                    2017 г. – по настоящее время доцент кафедры ИСТ им.акад.А.Жайнакова.
                </li>
            </ul>
            <h3>Область научных интересов:</h3>
            <p>
                Вопросы в сфере учебно-методической работы. Экономические
                исследования. Информационные системы.
            </p>
            <h3>Награды:</h3>
            <ul>
                <li>Почетные Грамоты НАН КР,</li>
                <li>Почетная Грамота кыргызской аграрной академии,</li>
                <li>Нагрудный знак – отличника образования.</li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>1 монография,</li>
                <li>1 патент на изобретения и 1 учебное пособие с грифом МОиН КР,</li>
                <li>15 учебно – методических работ,</li>
                <li>90 научных публикаций.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href=" kanybek.jakypbekov@kstu.kg"> kanybek.jakypbekov@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}