{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Дуйшоков Кайратбек Дуйшокович</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}

{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/dkd.jpg' %}" alt="Дуйшоков Кайратбек Дуйшокович"/>
        </div>
        <div class="professor-info">
            <h1>Дуйшоков Кайратбек Дуйшокович</h1>
            <h2>Кандидат физико-математических наук, доцент</h2>
            <h3>Образование:</h3>
            <p>
                1974г. - 1979г. Кыргызский государственный университет им. 50- летия
                СССР, механико-математический факультет. Получен диплом о высшем
                образовании. Присвоена квалификация – Математик. Преподаватель. Ученая
                степень – кандидат физико-математических наук Специальность 05.13.16.
                – Применение математического моделирования (по отраслям наук).
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>1979г. – 2006г. Институт автоматики НАН КР.</li>
                <li>2006г.-2019г. - доцент кафедры ПМИ КГТУ им.И.Раззакова</li>
                <li>С апреля 2019 по сентябрь 2022 - заведующий кафедрой ИСТТ</li>
                <li>
                    2019г.-по настоящее время – доцент кафедры ИСТ им. акад.
                    А.Жайнакова.
                </li>
                <li>
                    2017-2018- ИГДиГТ им.У.Асаналиева доцент кафедры «ИТиММ
                    им.акад.А.Жайнакова».
                </li>
            </ul>
            <h3>Область научных интересов:</h3>
            <p>
                Вопросы в сфере научных разработок методов прогнозирования режима
                подземных вод. Публикация: 30 научных и учебно – методических работ.
            </p>
            <h3>Награды:</h3>
            <ul>
                <li>Почетная Грамота НАН КР,</li>
                <li>Почетная Грамота КГТУ им.И.Раззакова,</li>
                <li>Почетная Грамота АГУП КР,</li>
                <li>Благодарственное письмо мэрии г.Бишкека,</li>
                <li>Нагрудный знак «Отличник образования»</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="mailto:kairatbekd@kstu.kg">kairatbekd@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}