{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Керимкулова Гулсаат Кубатбековна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}

{% block bodycontent %}
    <body>
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/kgk.jpg' %}" alt="Керимкулова Гулсаат Кубатбековна"/>
        </div>
        <div class="professor-info">
            <h1>Керимкулова Гулсаат Кубатбековна</h1>
            <h2>Кандидат физико-математических наук, доцент</h2>
            <h3>Образование:</h3>
            <p>
                1990г. - 1995г. Кыргызский государственный национальный университет,
                механико-математический факультет. Получен диплом о высшем образовании
                с отличием. Присвоена квалификация – Математик. Преподаватель. Ученая
                степень – кандидат физико-математических наук Специальность 05.13.18.
                – Математическое моделирование, численные методы и комплексы программ
                Ученое звание – старший научный сотрудник.
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    1996г. - по наст. время Институт машиноведения и автоматики НАН КР.
                    Посл. занимаемая должность –. заместитель директора по научной
                    работе.
                </li>
                <li>
                    1995г. - 1996г. Раздольненская средная школа. Учитель математики.
                </li>
            </ul>
            <h3>Область научных интересов:</h3>
            <p>
                Вопросы в сфере научных разработок методов измерения и контроля
                кинематических параметров и характеристик водных потоков на основе
                теорий и модели турбулентного течения жидкости, в областях гидравлики,
                гидротехнических сооружений, а также исследований моделей
                турбулентного течения воды..
            </p>
            <h3>Публикация:</h3>
            <ul>
                <li>3 монографии,</li>
                <li>8 патентов на изобретения,</li>
                <li>64 научных и учебно – методических работ.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="mailto:gkerimkulova@kstu.kg">gkerimkulova@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}
