{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Каримова Гульмира Токтомуратовна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}
{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/kgt.jpg' %}" alt="Каримова Гульмира Токтомуратовна"/>
        </div>
        <div class="professor-info">
            <h1>Каримова Гульмира Токтомуратовна</h1>
            <h2>Старший преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                1992г. - 1997г. Ошский технологический университет, факультет
                кибернетики и информационных технологий. Получен диплом о высшем
                образовании с отличием. Присвоена квалификация – инженер-программист.
                2016-2018 Кыргызский государственный технический университет
                им.И.Раззакова, факультет информационных технологий. Присвоена
                квалификация – магистр по направлению программная инженерия.
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    2001 г. – 2005г. Преподаватель кафедры «Вычислительная техника»
                    Ошского технологического университета, факультета кибернетики и
                    информационных технологий.
                </li>
                <li>
                    2005г - по наст. время Кыргызский государственный технический
                    университет им.И.Раззакова. Институт электроники и телекоммуникаций.
                    Посл. занимаемая должность – старший преподаватель.
                </li>
            </ul>
            <h3>Область научных интересов:</h3>
            <p>
                Проектирование и разработка программного обеспечения, геоинформатика и
                геоинформационные технологии.
            </p>
            <h3>Награды:</h3>
            <ul>
                <li>Почетные Грамоты КГТУ им.И.Раззакова,</li>
                <li>
                    Почетная Грамота ЦК профсоюза работников образования и науки КР,
                </li>
                <li>Почетная Грамота МОиН КР,</li>
                <li>Почетная Грамота Государственного агентства связи КР,</li>
                <li>Благодарственное письмо КГТУ им.И.Раззакова,</li>
                <li>Благодарственное письмо ИЭТ</li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>1 патент на электронное учебное пособие</li>
                <li>29 научных и учебно – методических работ.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="k.gulpeace@kstu.kg">k.gulpeace@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}
