{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Койчуманова Жамила Койчумановна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}
{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/kjk.jpg' %}" alt="Койчуманова Жамила Койчумановна"/>
        </div>
        <div class="professor-info">
            <h1>Койчуманова Жамила Койчумановна</h1>
            <h2>Старший преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                1991 - 1996 гг. Кыргызский государственный педагогический университет
                им.И.Арабаева, специальность «Физика и информатика», квалификация
                «Учитель физики и информатики»;
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    1996- 2001 гг. - преподаватель кафедры «Информационные технологии и
                    математическое моделирование», Кыргызский горно-Металлургический
                    Институт
                </li>
                <li>
                    1997 г. - ведущий инженер кафедры «Информационные технологии и
                    математическое моделирование», Кыргызский горно-Металлургический
                    Институт (по совместительству);
                </li>
                <li>
                    1999 г. - старший преподаватель кафедры «Математика и информатика»
                    (по совместительству); КГНУ имени Ж.Баласагына (по
                    совместительству);
                </li>
                <li>
                    2008 г. - старший преподаватель кафедры «Информатика и математика»
                    (по совместительству), БГУ имени К.Карасаева (по совместительству);
                </li>
                <li>
                    2012 г. - старший преподаватель кафедры «Программное обеспечение
                    компьютерных сетей и информатика» (по совместительству), Институт
                    инновационных профессий при КГУСТА (по совместительству);
                </li>
                <li>
                    2013 г. - Старший преподаватель (по совместительству), Бишкекский
                    горнотехнологический колледж (по совместительству);
                </li>
                <li>
                    С 2001 г. - по настоящее время Кыргызский государственный
                    университет геологии, горного дела и освоения природных ресурсов
                    имени академика У.Асаналиева, старший преподаватель кафедры
                    «Информационные технологии и математическое моделирование имени
                    академика А.Жайнакова».
                </li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>
                    Имеет более 20 опубликованных научных и учебно-методических работ,
                </li>
                <li>участвует в Международных конференциях.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="jamila.koichumanova@kstu.kg">jamila.koichumanova@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}
