{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Кукеева Назира Асанкуловна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}
{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/kna.jpg' %}" alt="Кукеева Назира Асанкуловна"/>
        </div>
        <div class="professor-info">
            <h1>Кукеева Назира Асанкуловна</h1>
            <h2>Старший преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                1995 - 1999 гг. Кыргызский государственный педагогический университет
                им.И.Арабаева, специальность «Математика и информатика», квалификация
                «Учитель математики и информатики»; 2003-2007гг. Кыргызский
                Государственный Технический Университет им. И.Раззакова,
                специальность: «Экономика и управление на предприятии (по отраслям)»
                квалификация: Экономист-менеджер.
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    С 2000-2004 гг. - оператором и учебным мастером на кафедре
                    “Информационные технологии и математическое моделирование”, Институт
                    горного дела и горных технологий им. академика У. Асаналиева.
                </li>
                <li>
                    С 2004 г - 2009 г. преподаватель каф. «Информационные технологии и
                    математическое моделирование», Институт горного дела и горных
                    технологий им. академика У. Асаналиева.
                </li>
                <li>
                    С 2009 года по 2022гг. Кыргызский государственный университет
                    геологии, горного дела и освоения природных ресурсов имени академика
                    У.Асаналиева, старший преподаватель кафедры «Информационные
                    технологии и математическое моделирование имени академика
                    А.Жайнакова».
                </li>
                <li>
                    С сентября 2022 г по настоящее время – ст.преподаватель, кафедра
                    «Информационные системы и технологии им.акад.А.Жайнакова», Институт
                    электроники и телекоммуникации, КГТУ им.И.Раззакова.
                </li>
            </ul>
            <h3>Награды:</h3>
            <ul>
                <li>Награда “Space Camp Turkey” Турция, г.Измир,</li>
                <li>Благодарственное письмо РДИТА «Алтын туйун»,</li>
                <li>Благодарственное письмо КГТУ им.И.Раззакова,</li>
                <li>Благодарственное письмо ИЭТ КГТУ им.И.Раззакова,</li>
                <li>Благодарность КГТУ им.И.Раззакова,</li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>
                    Имеет более 10 опубликованных научных и учебно- методических работ,
                </li>
                <li>участвует в Международных конференциях.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="nazira.kukeeva@kstu.kg">nazira.kukeeva@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}