{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Касымова Тумар Джапашевна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}

{% block bodycontent %}
    <body>
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/ktj.jpeg' %}" alt="Касымова Тумар Джапашевна"/>
        </div>
        <div class="professor-info">
            <h1>Касымова Тумар Джапашевна</h1>
            <h2>Кандидат физико-математических наук, доцент</h2>
            <h3>Образование:</h3>
            <p>
                1988г. - 1993г. Кыргызский государственный национальный университет,
                механико-математический факультет. Получен диплом о высшем образовании
                с отличием. Присвоена квалификация – Математик. Преподаватель. Ученая
                степень – кандидат физико-математических наук Специальность 01.01.04.
                – геометрия и топология Ученое звание – доцент.
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    1988г. - КГУ (ныне национальный университет) механико-математический
                    факультет, младший научный сотрудник;
                </li>
                <li>1993-1996гг. – аспирантка кафедры “Алгебры и геометрии” КГНУ,</li>
                <li>1998 г. – старший преподаватель,</li>
                <li>
                    2001г. – доцент кафедры “Алгебры, геометрии и топологии” КГНУ,
                </li>
                <li>
                    2016г. – докторант кафедры “Алгебры, геометрии, топологии и
                    преподавания высшей математики”,
                </li>
                <li>
                    с 01.09.2019 г. по настоящее время - доцент кафедры «ИСТТ им.
                    А.Жайнакова»(ИЭТ) в КГТУ им. И.Раззакова.
                </li>
            </ul>
            <h3>Область научных интересов:</h3>
            <p>
                Геометрия, общая и равномерная топология, педагогика, моделирование
                систем, программирование на языках высокого уровня.
            </p>
            <h3>Награды:</h3>
            <ul>
                <li>Почетные Грамоты МОиН КР,</li>
                <li>Почетная Грамота ВАК КР,</li>
                <li>Почетная Грамота КНУ им.Ж.Баласагына.</li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>Более 25 научных статей,</li>
                <li>4 учебно – методических пособия.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="mailto:tkasymova@kstu.kg">tkasymova@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}
