{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Солпиева Залина Рысбековна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}
{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/szr.jpg' %}" alt="Солпиева Залина Рысбековна"/>
        </div>
        <div class="professor-info">
            <h1>Солпиева Залина Рысбековна</h1>
            <h2>Преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                1996-2001гг. Кыргызский государственный педагогический университет
                им.И.Арабаева, специальность «Математика и информатика», квалификация
                «Учитель математики и информатики»
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    С 2001-2008гг – зав. лабораторией кафедры «Информационные технологии
                    и математическое моделирование» Кыргызского горно-металлургического
                    института им.У.Асаналиева
                </li>
                <li>
                    С 2008г - 2022 г. преподаватель каф. «Информационные технологии и
                    математическое моделирование им.акад.А. Жайнакова» КГГУ им.акад.
                    У.Асаналиева
                </li>
                <li>
                    С сентября 2022 г по наст время - ст.преподаватель, кафедра
                    «Информационные системы и технологии им.акад.А.Жайнакова», Институт
                    электроники и телекоммуникации, КГТУ им.И.Раззакова.
                </li>
                <li>
                    C сентября 2022 – по наст время преподаватель Горно-технологический
                    колледж
                </li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>
                    Имеет более 15 опубликованных научных и учебно-методических работ
                    работ,
                </li>
                <li>участвует в Международных конференциях.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="zalina.solpieva@kstu.kg">zalina.solpieva@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}