{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Сазбаков Замирбек Садыгалиевич</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}

{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/szs.jpeg' %}" alt="Сазбаков Замирбек Садыгалиевич"/>
        </div>
        <div class="professor-info">
            <h1>Сазбаков Замирбек Садыгалиевич</h1>
            <h2>Старший преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                Высшее, Харьковский институт радиоэлектроники Факультет: Системы
                управления Специальность: Автоматизированные системы управления
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    Настоящее время – Сентябрь 1, 2011 Кыргызский государственный
                    университет геологии, горного дела и освоения природных ресурсов
                    имени академика У.Асаналиева, старший преподаватель кафедры
                    «Информационные технологии и математическое моделирование имени
                    академика А.Жайнакова».
                </li>
                <li>
                    Август 31, 2009 – Январь 1, 2007. Консультант по муниципальной
                    собственности, компания «Урбан институт».
                </li>
                <li>
                    Июль 27, 2004 –июнь 13, 2000. Начальник управления коммунальной
                    собственностью, городская управа Токмок.
                </li>
                <li>
                    Июнь 12, 2000 – март 31, 1999. Начальник управления муниципальной
                    собственностью, города Чуй-Токмок.
                </li>
                <li>
                    Декабрь 31, 1998 – август 12, 1996. Первый заместитель
                    исполнительного директора СЭЗ «Бишкек».
                </li>
                <li>
                    Август 12, 1996 – май 6, 1996. Заместитель генерального директора
                    СЭЗ «Бишкек».
                </li>
                <li>
                    Май 6, 1996 –январь 15, 1996. Ведущий специалист Генеральной
                    дирекции СЭЗ «Бишкек».
                </li>
                <li>
                    Январь 15, 1996 –февраль 1, 1996. Руководитель группы безопасности
                    СЭЗ «Бишкек».
                </li>
                <li>
                    Декабрь 28, 1995 – октябрь 2, 1993. Старший преподаватель кафедры
                    «ГЭМ», Кыргызский горнометаллургический институт.
                </li>
                <li>
                    Октябрь 2, 1993 – январь 23, 1988. Старший преподаватель кафедры
                    «Информатика» Фрунзенский политехнический институт.
                </li>
                <li>
                    Январь 23, 1998 – апрель 30, 1981. Старший преподаватель «АСУ и ВТ»,
                    Фрунзенский политехнический институт.
                </li>
            </ul>
            <h3>Область научных интересов:</h3>
            <p>Информационные технологии в НИР.</p>
            <h3>Повышение квалификации:</h3>
            <ul>
                <li>
                    Семинар-Тренинг. Самостоятельная работа студентов. г.Бишкек, АУЦА, 8
                    часов, 21.02.2015.
                </li>
                <li>
                    Семинар-Тренинг. Традиционные и инновационные модели обучения в
                    образовании. г.Бишкек КГУ им.И.Арабаева, с 04.01.17 по 06.01.17.
                </li>
                <li>
                    Тренинг. Результаты обучения и их роль в построении учебного
                    процесса. г.Бишкек. Агентство по гарантии качества в сфере
                    образования “EdNet”, 36 часов, 07.02.2019.
                </li>
                <li>
                    Курс. Турецкий язык. г. Бишкек, более 100 часов, 28.01.19 -
                    24.05.19.
                </li>
                <li>
                    Курс повышения квалификации “Инновационные пути совершенствования
                    психологопедагогического мастерства в образовательном учреждении”,
                    72 часа, г.Бишкек, КГУ им.И.Арабаева, Институт повышения
                    квалификации и переподготовки кадров имени М.Р.Рахимовой.
                    Удостоверение №0417, с 27.02.2020 по 08.02.2020 г.
                </li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>
                    Основные аспекты технологии облачных вычислений.Известия КГТУ
                    им.И.Раззакова №28, 2013г.
                </li>
                <li>
                    Разработка многомерных баз данных. Известия КГТУ им.И.Раззакова №33
                    2014г.
                </li>
                <li>
                    Исследование технологических свойств руды месторождения “Ширальджин”
                    Наука, новые технологии и инновации Кыргызстана №6, 2017г.
                </li>
                <li>
                    Разработка модуля расчета параметров механического рыхления горных
                    пород и производительности рыхлителей. Известия КГТУ им.И.Раззакова
                    №3(47), 2018 г.
                </li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="zamirbek.sazbakov@kstu.kg">zamirbek.sazbakov@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}