{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Тойбаева Жазгул Джумадиловна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}
{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/tjd.jpeg' %}" alt="Тойбаева Жазгул Джумадиловна"/>
        </div>

        <div class="professor-info">
            <h1>Тойбаева Жазгул Джумадиловна</h1>
            <h2>Старший преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                2010-2015г. Кыргызский государственный технический университет
                им.И.Раззакова, факультет информационных технологий, специальность
                «Программное обеспечение вычислительной техники и автоматизированных
                систем». Присвоена квалификация – инженер-программист. 2020-2023г.
                Аспирантура в Кыргызском государственном техническом университете
                им.И.Раззакова по специальности «Телекоммуникационные системы и
                компьютерные сети».
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>2013 г. – 2018г. Преподаватель НДИТА «Алтын туйун».</li>
                <li>
                    2019 г - по наст. время Кыргызский государственный технический
                    университет им.И.Раззакова. Институт электроники и телекоммуникаций,
                    кафедра «Информационные системы и технологии им.А.Жайнакова».
                    Занимаемая должность – старший преподаватель(штат), Институт
                    информационных технологий, кафедра «Программное обеспечение
                    компьютерных систем» (внутреннее совмещение).
                </li>
            </ul>
            <h3>Область научных интересов:</h3>
            <p>
                Проектирование и разработка программного обеспечения,
                инфокоммуникационных сетей
            </p>
            <h3>Награды:</h3>
            <ul>
                <li>Награда “Space Camp Turkey” Турция, г.Измир,</li>
                <li>Благодарственное письмо РДИТА «Алтын туйун»,</li>
                <li>Благодарственное письмо КГТУ им.И.Раззакова,</li>
                <li>Благодарственное письмо ИЭТ КГТУ им.И.Раззакова,</li>
                <li>Благодарность КГТУ им.И.Раззакова,</li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>1 патент на разработку программного обеспечения,</li>
                <li>
                    1 статья Lecture Notes in Networks and Systems (Web of Science,
                </li>
                <li>8 научных и учебно – методических работ.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="jaz@kstu.kg">jaz@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}
