{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Турсункулова Захира Сарымсаковна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}
{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/tzs.jpg' %}" alt="Турсункулова Захира Сарымсаковна"/>
        </div>
        <div class="professor-info">
            <h1>Турсункулова Захира Сарымсаковна</h1>
            <h2>Старший преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                1997-2001 гг. КНУ им. Ж. Баласагына ИИМОП КАФ-Internet Бакалавр -
                Информатика и вычислительная техника 2001-2002 гг. КНУ им. Ж.
                Баласагына ИИМОП КАФ-Internet Инженер - Автоматизированные системы
                обработки информации и управления 2018-2020 гг. Высшая Школа
                Магистратуры КГТУ им. И. Раззакова Магистр - Направление: Прикладная
                математика и информатика Профиль - Математическое моделирование
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    2001-2002 гг Центр повышения квалификации «ПАРТНЕР» преподаватель г.
                    Бишкек,
                </li>
                <li>
                    2002-2004 гг Международный аэропорт МАНАС , УТОКС (Участок
                    технического обеспечения компьютерных систем) инженер,
                </li>
                <li>
                    2004-2007 гг КГТУ им. И. Раззакова кафедра ПОКС (Программное
                    обеспечение компьютерных систем) преподаватель,
                </li>
                <li>
                    2007-2010 гг ТОО «Белый ветер» бухгалтер материального стола г.
                    Астана,
                </li>
                <li>
                    2010-2020 гг КГТУ им. И. Раззакова кафедра ПМиИ (Прикладная
                    математика и информатика) старший преподаватель,
                </li>
                <li>
                    2018г Экперт по аккредитации образовательных организаций и программ
                    «Сапатту билим»,
                </li>
                <li>
                    2020-2023 гг КП «Бишкектеплоэнерго» мэрии города Бишкек
                    Инженер-экономист ПЭО,
                </li>
                <li>
                    2023-по настоящее время КП «Бишкектеплоэнерго» мэрии города Бишкек
                    IT-специалист 2020г - по наст. время Кыргызский государственный
                    технический университет им.И.Раззакова. Институт электроники и
                    телекоммуникаций. Посл. занимаемая должность – старший
                    преподаватель.
                </li>
            </ul>
            <h3>Область научных интересов:</h3>
            <p>
                Проектирование и разработка программного обеспечения, для определения
                температурно – фильтрационного режима основания хвостохранилища.
                Публикация: 14 научных и учебно – методических работ.
            </p>
            <h3>Награды:</h3>
            <ul>
                <li>Почетные Грамоты КГТУ им.И.Раззакова</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="z.tursunkulova@kstu.kg">z.tursunkulova@kstu.kg</a>
            </p>
        </div>
    </div>
{% endblock %}
