{% extends 'home/layout.html' %}

{% load static %}

{% block headcontent %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Урманбетова Кундуз Шопоковна</title>
    <link rel="stylesheet" href="{% static 'teachers/css/teacher_style.css' %}"/>
{% endblock %}
{% block bodycontent %}
    <div class="professor-detail">
        <div class="professor-image">
            <img src="{% static 'teachers/img/uksh.jpg' %}" alt="Урманбетова Кундуз Шопоковна"/>
        </div>
        <div class="professor-info">
            <h1>Урманбетова Кундуз Шопоковна</h1>
            <h2>Старший преподаватель</h2>
            <h3>Образование:</h3>
            <p>
                2005г. - 2011г. Кыргызский государственный национальный университет
                имени Ж. Баласагына, факультет математики, информатики и кибернетики.
                Получен диплом о высшем образовании магистра с отличием. Присвоена
                квалификация – магистр по направлению прикладная математика и
                информатика. 2012-2015гг. Кыргызский государственный национальный
                университет имени Ж. Баласагына, Центр непрерывного образования и
                повышения квалификации (ЦНО и ПК), Отдел магистратуры и
                дополнительного высшего образования ЦНО и ПК, Присвоена квалификация –
                финансы и кредит.
            </p>
            <h3>Трудовая деятельность:</h3>
            <ul>
                <li>
                    2009 -2019гг. Кыргызская государственная медицинская академия имени
                    И. Ахунбаева, кафедра «Физики, математики, информатики и
                    информационных технологий», занимаемая должность – лаборант, старший
                    лаборант, преподаватель.
                </li>
                <li>2018-2020гг. НСШ №43, учитель математики</li>
                <li>
                    2019г. – по наст. время Кыргызский государственный технический
                    университет им. И. Раззакова. Институт электроники и
                    телекоммуникаций. Посл. занимаемая должность – старший
                    преподаватель.
                </li>
            </ul>
            <h3>Награды:</h3>
            <ul>
                <li>Благодарственное письмо КГТУ им. И. Раззакова</li>
            </ul>
            <h3>Публикация:</h3>
            <ul>
                <li>9 научных и учебно – методических работ.</li>
            </ul>
            <p>
                <strong>E-mail:</strong>
                <a href="kunduza-88@mail.ru">kunduza-88@mail.ru</a>
            </p>
        </div>
    </div>
{% endblock %}

